@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --primary: 338 58% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 338 58% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217 16% 12%;
    --foreground: 220 18% 96%;
    --card: 217 18% 16%;
    --card-foreground: 220 18% 96%;
    --primary: 338 58% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 10% 24%;
    --secondary-foreground: 220 18% 92%;
    --muted: 220 12% 18%;
    --muted-foreground: 215 12% 74%;
    --accent: 210 16% 22%;
    --accent-foreground: 220 18% 96%;
    --destructive: 0 79% 66%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 12% 27%;
    --input: 220 8% 18%;
    --ring: 338 58% 78%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
